[submodule "ext/libosmium"]
	path = ext/libosmium
	url = https://github.com/osmcode/libosmium.git
[submodule "ext/protozero"]
	path = ext/protozero
	url = https://github.com/mapbox/protozero.git
[submodule "ext/s2geometry"]
	path = ext/s2geometry
	url = https://github.com/google/s2geometry.git
[submodule "ext/rapidjson"]
	path = ext/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/nickblock/assimp.git
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://github.com/nickblock/eigen-git-mirror.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/poly2tri"]
	path = ext/poly2tri
	url = https://github.com/nickblock/poly2tri.git
